<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Хомячье оформление</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="count-wrapper">
            <p class="count-text" id="count"></p>
            <div id="loading" class="loading-spinner"></div>
        </div>
        <img src="/static/icon.png" id="incrementButton" class="hamster-image" alt="Hamster Icon" />
    </div>
    <script src="/static/script.js"></script>
</body>
</html>
